.white {
  background-color: white;
  position: absolute;
  margin: 0;
  padding: 30px;
}
.elongated {
  width: 90%;
  margin: 20px;
  padding: 0px;
  height: 100%;
}
.box {
  height: 20px;
  width: 100px;
  background-color: black;
  margin: 15px;
  float: right;
  z-index: 1;
  margin: 20px;
}
.bigbox {
  height: 60px;
  width: 80px;
  background-color: black;
  margin-bottom: 30px;
  margin-right: 100px;
  float: left;
}
.hugebox {
  background-color: black;
  width: 80%;
  height: 300px;
  position: absolute;
}
